.generalCont{
    display: flex;
    background-color: aqua;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    text-align: left;
    width: 700px;
    margin: auto;
    margin-top: 40px;
}

.publicacion{
    width: auto;
    min-width: 80%;
    position: relative;
    margin: 20px;
}

.postulantesDiv{
    width: 20%;
    background-color: #34345c;
    position: relative;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    color:white;
    text-align: left;
    width: max-content;
}

.postulados_dudas{
    text-align: center;
    padding-top: 10px;
}

.postulantesCuerpo{
    background-color: #34345c;
    border-top-right-radius:30px;
    border-bottom-right-radius: 30px;
    width:200px;
}

.postulanteLi{
    background-color: #5a5a9c;
    margin: 10px;
    padding-bottom: 10px;
    height:  max-content;
    list-style: none;
    border-radius: 10px;
}

.nombre_postulado{
    font-size: 1.2rem;
    margin-left: 5px;
}

.usuario_postulado{
    font-size: 0.9rem;
    margin-left: 5px;
}

.entregarCanvas{
    background-color: rgba(0, 0, 0, 0.075);
    position: absolute;
    z-index: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 100px;
    border-radius: 15px;
}

.entregarDiv{
    position: absolute;
    top:  0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    height: 80%;
    width: 80%;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid black
}


.posteo_datosusuario{
    padding: 10px;
}

.posteo_recompensa {
    display: flex;
}

.tag{
    background-color: #5a5a9c;
    color: white;
    border-radius: 12px;
    padding: 8px;
    margin: 10px;
    width: max-content;
}

.tags_list{
    list-style: none;
    display: flex;
}

.postularBtn{
    margin-left:auto;
    margin-right: 10px;
    margin-top: 10px;
    background: none;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    color:white;
    background-color: #34345c;
    width: max-content;
    padding: 7px;
}

.postularBtn2{
    margin-left:5px;
    background: none;
    border-radius: 10px;
    border:none;
    cursor:pointer;
    color:white;
    background-color: #34345c;
    width: max-content;
    padding: 10px;
    position: absolute;
    right:0;
    height: fit-content;
}

.postularBtn2:hover{
    cursor: default;
}

.postularBtn:hover{
    background-color: #49497e;
}

.cuerpo{
    font-size: 25px;
    margin-left: 10px;
    width: 100%;
}

.desc{
    font-size: 15px;
    width: 100%;
    word-wrap: break-word;
}

.tags{
    margin-left: 10px;
}

.posteo_datosusuario{
    margin:10px;

}

.foto{
    width: 50px;
    margin-left:10px;
    margin-top:10px;
    height: 50px;
}

.envolvedor{
    display:flex;
    position: relative;
}
 
.posteo_recompensa_fecha{
    text-align: right;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
}

.btnEntrega{
    position: absolute;
    right: 3%;
    bottom: -1%;
    background: none;
    border: none;
    background-color: green;
    color: white;
    padding: 12px;
    border-radius: 10px;
}

.btnEntrega:hover{
    cursor: pointer;
}

.input-contenedor{
    width: 50%;
    height: 100%;
}

.input-contenedor-2{
    margin-top: 15px;
}

.contenedor{
    width: auto;
}

.entregar_trabajo{
    text-align: center;
}

.trash{
    width: auto;
}

#descripcion_entrega{
    height: 100px;
    width: 100%;
    border: 1px solid #34345c;
}

.boton_canvas{
    height: auto;
    cursor: pointer;
    background:none;
    background-color:#49497e;
    color: white;
    padding: 8px;
    border-radius: 30px;
    margin-left: 5px;
}

.boton_canvas_definitivo{
    margin-left: 60px;
    margin-top: 20px;
    display: flex;
} 

.boton_canvas:hover{
    background-color: #5a5a9c;
}

#archivo{
    margin-left: 80px ;
}

.archivo-entrega{
    width: 80px;
    height: 30px;
    background-color:#49497e;
    margin-left: 80px;   
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 5px;
}