.generalCont{
    display: flex;
    background-color: aqua;
    height: 100%;
}

.publicacion{
    width: 80%;
    position: relative;
}

.postulantesDiv{
    width: 20%;
    background-color: white;
    position: relative;
    height: 100%;
}

.postulanteLi{
    background-color: #34345c;
    margin: 2px;
    height: 100%;
}

.entregarCanvas{
    background-color: rgba(255, 0, 0, 0.424);
    position: absolute;
    top:0;
    z-index: 0;
    height: 100%;
    width: 100%;
}

.entregarDiv{
    background-color: white;
    height: 80%;
    width: 80%;
}


.posteo_datosusuario{
    padding: 10px;
}

.posteo_recompensa {
    display: flex;
    position: ;
}