

.publicacion_preview{
    background-color: white;
    border-radius: 30px;
    height: auto;
    display: grid;
    grid-template: 
    "data" 35%
    "cuerpo" auto
    "tags" 20%;
    padding: 30px;
    text-align: left;
    margin: 15px;
}

.data{
    height: 100%;
    grid-area: data;
    display: grid;
    grid-template:
    "foto  usuario   recoyvenc" 100%/
    5%         auto        40%;
}

.cuerpo{
    grid-area: cuerpo;
}

.tags{
    grid-area: tags;
}

.foto{
    grid-area: foto;
}

.usuario{
    grid-area: usuario;
}

.recoyvenc{
    grid-area: recoyvenc;
    text-align: right;
}

.tags_list{
    display: flex;
    list-style: none;
}

.tag{
    margin-right: 10px;
    background-color: rgb(83, 74, 146);
    border-radius: 15px;
    padding: 5px;
    color: white;
}

.fotoPerfil{
    width: 60px;
}