*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "corbel";
}


.publicaciones{
    width: 100%;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.grid_container{
    display: grid;

    grid-template:
        "sidebar     header" 10vh
        "sidebar    main"   90vh/
        22%         auto;
}

@media(max-height: 760px)
{
    .grid_container{
        display: grid;
    
        grid-template:
            "sidebar     header" 15vh
            "sidebar    main"   85vh/
            22%         auto;
    }

}

.header{
    background-color: white;
    grid-area: header;
    display: grid;
    align-items: center;

    grid-template:
        "titu   busc" /
        auto    25%    
}

.ISolveIt{
    grid-area: titu;
    text-align: left;
    margin-left: 50px;
    color:#1a2537;
    font-size: 2.5rem;
}


.a{
    font-size: 20px;
    text-decoration: none;
    color:white;
    padding: 10px;
    background-color: none;
    border-radius:50px ;
}

a{
    text-decoration: none;
}

.sidebar{
    background-color:  #34345c;
    grid-area: sidebar;
    text-align: center;
    color:rgb(26, 21, 21);
    border-right:1px solid #34345c;
    
}

.h2{
background-color: #5a5a9c;
color:white;
border-radius: 30px;
padding:11px;
width: 85%;
margin-left: 23px;
margin-top: 10%;
}

.h2:hover{
    transition: 0.5;
    background-color: #494980;
}

.h4{
color:white;
text-align: left;
margin:55px 0px -40px 40px;
font-size: 1.8rem;
}

.h5{
color:white;
text-align: left;
margin:40px;
font-size: 1rem;
}

.tokens{
    color: white;
    margin-right: 200px;
    font-size: large;
    font-family: corbel;
}


.main{
    background-color: #494980;
    grid-area: main;
    overflow-y: scroll;
    position: relative;
}

.botones_sidebar{
    margin: 17px;
    padding: 10px;
    list-style: none;
    text-align: left;
}

.a:hover{
    transition: 0.5s;
    background-color: #494980;
    color:white;
    border-radius: 50px;
}

.iconos_sidebar {
    position: relative;
    top: 10px;

    width: 10%;
    height: auto;
}

#icono_mensaje {
    font-size: 32px;
}



.posteo_datosusuario{
    padding: 10px;
}

.posteo_recompensa {
    display: flex;
}


