*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "corbel";
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.grid_container{
    display: grid;
    gap: 5px;

    grid-template:
        "sidebar     header" 10%
        "sidebar    main"   auto/
        25%         auto;
}

.header{
    background-color: burlywood;
    grid-area: header;
    display: grid;
    align-items: center;

    grid-template:
        "titu   busc" /
        auto    25%    
}

.ISolveIt{
    grid-area: titu;
    text-align: left;
    margin-left: 100px;
}

.buscador{
    grid-area: busc;
}

.sidebar{
    background-color: rgb(83, 74, 146);
    grid-area: sidebar;
    text-align: left;
}

.main{
    background-color: springgreen;
    grid-area: main;
}

.botones_sidebar{
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color:rgb(83, 74, 146);
    font-size: 1.5rem;
    width: max-content;
}

.botones_sidebar::hover{
    transition: 0.5s;
    background-color:rgb(226, 25, 25);
}