*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "corbel";
}

.publicaciones{
    width: 100%;
    background-color: rgb(83, 74, 146);
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.grid_container{
    display: grid;

    grid-template:
        "sidebar     header" 10vh
        "sidebar    main"   90vh/
        22%         auto;
}

@media(max-height: 760px)
{
    .grid_container{
        display: grid;
    
        grid-template:
            "sidebar     header" 15vh
            "sidebar    main"   85vh/
            22%         auto;
    }

}

.header{
    background-color: white;
    grid-area: header;
    display: grid;
    align-items: center;

    grid-template:
        "titu   busc" /
        auto    25%    
}

.ISolveIt{
    grid-area: titu;
    text-align: left;
    margin-left: 50px;
    color:#1a2537;
    font-size: 2.5rem;
}


.a{
    font-size: 20px;
    text-decoration: none;
    color:white;
    padding: 10px;
    background-color: none;
}

a{
    text-decoration: none;
}

.sidebar{
    background-color:  rgb(59, 44, 98);
    grid-area: sidebar;
    text-align: center;
    color:rgb(26, 21, 21);
    border-right:1px solid rgb(122, 110, 184);
    
}

.h2{
background-color: rgb(78, 62, 155);
color:white;
border-radius: 30px;
padding:11px;
width: 85%;
margin-left: 20px;
}

.h2:hover{
    transition: 0.5;
    background-color: rgb(101, 88, 163);
}

.h4{
color:white;
text-align: left;
margin:55px 0px -40px 40px;
font-size: 1.8rem;
}

.h5{
color:white;
text-align: left;
margin:40px;
font-size: 1rem;
}

.main{
    background-color: rgb(59, 44, 98);
    grid-area: main;
    overflow-y: scroll;
}

.botones_sidebar{
    margin: 17px;
    padding: 10px;
    list-style: none;
    text-align: left;
}

.a:hover{
    transition: 0.5s;
    background-color:rgb(78, 62, 155);
    color:white;
    border-radius: 50px;
}


    
