*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

body{
background-color:darkslateblue;
font-family: "corbel";
}

.header {
background-color: white;
height: 80px;
width:100vw;
position: fixed; 
}

.main{
  display: grid;

  grid-template:
    "brand-cont    divform" 37vh 
    "ilustracion    divform" 63vh / 
    /* la linea de arriba deberia ir con auto pero x alguna razon no funciona */
      50vw             auto;
  justify-items: center;
}

.ilustracion{
  grid-area:ilustracion;
  width: auto;
  height: 90%;
}

.divform{
  grid-area: divform;
  display:grid;
  grid-template:
  "form";
  align-items: center;
}

.brand-cont{
  grid-area: brand-cont;
color:white;
font-size:40px;
text-transform: uppercase;
font-family: "verdana";
text-align: center;
margin-top: 22%;
  /* display: grid;
  grid-template:
    "brand" 10%
    "slogan" auto; */
}

.titulo{
  white-space : nowrap;
  -webkit-text-stroke: 0.2vw rgb(92, 82, 160);
  text-transform: uppercase;
  Color: darkslateblue;
  max-width: fit-content;
}

.titulo::before{
  content:attr(data-text);
  position: absolute;
  max-width: max-content;
  white-space : nowrap;
  width: 0;
  color: white;
  -webkit-text-stroke: 0vw darkslateblue;
  overflow: hidden;
  animation: animacion 6s linear infinite;
  border-right: 2px solid white;
}

@keyframes animacion{
  0%, 10%, 100%
  {
      width: 0;
  }
  50%, 70%
  {
      width: 50%;
  }
}
/* #brand{
  grid-area: brand;
} */
#slogan{
  /* grid-area: slogan; */
  color:white;
  font-size:15px;
  font-family: "corbel";
  text-align: left;
  font-weight:600;
  }

.nav{
display: flex;
justify-content: space-between;
}

.nav-link{
color:darkslateblue;
text-decoration: none;
}

.logo
{
font-size:30px;
font-weight:bold;
padding: 0 40px;
line-height: 80px;
}

.menu-nav
{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.menu-nav-item
{
  font-size: 15px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width:max-content;
  font-family: "corbel";
  font-weight:600;
}
.menu-nav-link
{
padding:8px 12px;
border-radius: 20px;
}

.menu-nav-link:hover
{
  background-color:darkslateblue;
  color: white;
  transition: 0.5s;
  box-shadow: 0px 10px 10px -6px rgb(83, 83, 83)
}

.contenedor
{
  width: 100%;
  padding: 15px;
}

.formulario
{
  border-radius: 6%;
  margin-top:80px;
  background: white;
  width: 90%;
  padding: 10px 5px;
  max-width: 500px;
  min-width: 350px;
  grid-area:form;
}

h2
{
  text-align: center;
  color:#1a2537;
  font-size: 30px;
  padding-top: 15px;

}

input:focus{
  outline-style: none;
}

input[type="text"],
input[type="password"]
{
  font-size: 17px;
  width: 82%;
  padding: 5px;
  border:none;
}

.input-contenedor
{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.icon
{
  min-width: 50px;
  text-align: center;
  color: #999;
}

.button
{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover
{
background:cadetblue ;
}

p
{
text-align: center;
font-size: 15px;
}

.parrafo
{
  margin-top: 10px;
}

.link
{
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover
{
  color: cadetblue;
}

/* @media(min-width:768px)
{
  .formulario
  {
    margin: auto;
    width: 500px;
    margin-top: 20px;
    left:300px;
    border-radius: 2%;
  }

}
*/
