*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  }

body{
background-color:darkslateblue;
font-family: "corbel";
}

.header {
background-color: #f1f1f1;
height: 80px;
position: relative;
}

.brand-cont{
position:relative;
color:white;
font-size:40px;;
text-transform: uppercase;
margin:15px;
width:fit-content;
left: 10%;
top: 10%;
font-family: "verdana";
}

#slogan{
  position:relative;
  color:white;
  font-size:15px;
  left:-10%;
  top: 12%;
  margin:24px;
  font-family: "corbel";
  font-weight:600
  }

.nav{
display: flex;
justify-content: space-between;
}

.nav-link{
color:darkslateblue;
text-decoration: none;
}

.logo
{
font-size:30px;
font-weight:bold;
padding: 0 40px;
line-height: 80px;
}

.menu-nav
{
  display: flex;
  margin-right: 40px;
  list-style: none;
}

.menu-nav-item
{
  font-size: 15px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width:max-content;
  font-family: "corbel";
  font-weight:600;
}
.menu-nav-link
{
padding:8px 12px;
border-radius: 20px;
}

.menu-nav-link:hover
{
  background-color:darkslateblue;
  color: white;
  transition: 0.5s;
  box-shadow: 0px 10px 10px -6px rgb(83, 83, 83)
}

.contenedor
{
  width: 100%;
  padding: 15px;
}

.formulario
{
  margin-top: 150px;
  background: white;
  position: relative;
  top:80%;
}

h2
{
  text-align: center;
  color:#1a2537;
  font-size: 30px;
  padding-top: 15px;

}

input[type="text"],
input[type="password"]
{
  font-size: 17px;
  width: 82%;
  padding: 5px;
  border:none;
}

.input-contenedor
{
  margin-bottom: 15px;
  border: 1px solid #aaa;
}

.icon
{
  min-width: 50px;
  text-align: center;
  color: #999;
}

.button
{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background: #1a2537;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover
{
background:cadetblue ;
}

p
{
text-align: center;
font-size: 15px;
}

.parrafo
{
  margin-top: 10px;
}

.link
{
  text-decoration: none;
  color: #1a2537;
  font-weight: 600;
}

.link:hover
{
  color: cadetblue;
}

@media(min-width:768px)
{
  .formulario
  {
    margin: auto;
    width: 500px;
    margin-top: 20px;
    left:300px;
    border-radius: 2%;
  }

}





